.log{
    margin-top: 30px;
    margin-bottom: 50px;
}
.log h2{
    color: #50CB93;
    font-weight: bold;
    margin-bottom: 20px;
}
.log form{
    border: 1px solid #50CB93;
    padding: 10px;
    width: 280px;
    margin: auto;
}
.log .group{
    margin-top: 20px;
    margin-bottom: 20px;
}
.log form input{
    width: 260px;
}
.log .button .btn{
    border: 1px solid #50CB93;
    color: #50CB93;
    margin-bottom: 20px;
}
.log .button .btn:hover{
    border: 1px solid #50CB93;
    color: white;
    background-color: #50CB93;
}
.log form span{
    color: red;
    margin-top: 10px;
}
.log form .link{
    text-decoration: none;
    color: #50CB93;
}
.log form .link:hover{
    color: white;
}